.header{
  display: grid;
  grid-area: h;
  background-color: rgba(40, 81, 163, 0.8);
  grid-template-areas: inherit;
  grid-template-columns: 4fr 1fr;
 
}
.header img {
  width: 81px;
  height: 50px;
  margin:5px 23px;
}
.loginBlock a {
  color: rgb(0, 0, 0);
}

