.header{
  grid-area: h;
  background-color: rgba(40, 81, 163, 0.8);
}
.header img {
  width: 81px;
  height: 41px;
  margin:0 22px;
}
.loginBlock{
   float: right;
}
.loginBlock a {
  color: rgb(255, 255, 255);
}