.app-wrapper {
  display: grid;
  grid-template-areas: 
  "h h "
  "n c";
  grid-template-rows: 41px ;
  grid-template-columns: 2fr 10fr;
}
.app-wrapper-content{
  grid-area: c;
  background-color: rgba(204, 204, 204, 0.35);
}